@charset "utf-8";

.map_container {
    margin-bottom: 24px;
}

.map_name {
    color: #ff8000;
    font-size: 28px;
    text-shadow: 0px 0px 12px #ff800080;
    margin: 0;
}

section p {
    color: #868686;
}