@charset "utf-8";

.main_content {
    background-color: #000000;
}

.article_wrap {
    padding: 1.5rem 2rem;
}

.article_title {
    background-color: #1458ca;
    color: #eeeeee;
    text-shadow: 0 0 1rem #eeeeee80;
    padding: 0.4rem 1.2rem;
    margin-bottom: 2rem;
}

.article_title .text_en {
    line-height: 1;
}

.article_section {
    margin-bottom: 4rem;
}

.section_title {
    color: #ff8000;
    text-shadow: 0 0 1rem #ff800080;
    padding-top: 6rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
}

.section_title.text_en {
    font-size: 1.75rem;
}

/* sidebar */

.article_toc {
    background-color: #000000;
    padding: 1rem 1.4rem;
    margin-bottom: 1rem;
}

.article_toc h2 {
    color: #ff8000;
    font-size: 1.25rem;
    text-shadow: 0 0 1rem #ff800040;
    padding-left: 0.3rem;
    margin: 0 0 0.5rem 0;
}

.article_toc ol {
    margin: 0;
}

.article_toc ol li a {
    display: block;
    color: #eeeeee;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    text-shadow: 0 0 1rem #eeeeee40;
}

.article_toc .text_en {
    position: relative;
    top: 0.2rem;
    padding: 0.14rem 0.5rem;
}

.article_toc ol li:hover {
    background-color: #111d2e;
    outline: 0.4rem solid #345495;
    box-shadow: 0 0 0.5rem #345495,
                inset 0 0 1rem #345495;
}