@charset "utf-8";

.tier_container {
    border: 2px solid #fff;
    margin: 1rem auto 2rem auto;
    max-width: 772px;
}

.lev_wrap {
    display: flex;
    flex-wrap: wrap;
}

.tier_content {
    align-items: center;
    background-color: #101010;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

.tier_content:hover {
    background-color: #303030;
}

.lev_wrap:first-child .tier_content:first-child {
    background-color: #911212;
}

.lev_wrap:nth-child(2) .tier_content:first-child {
    background-color: #863e0d;
}

.lev_wrap:nth-child(3) .tier_content:first-child {
    background-color: #625b05;
}

.lev_wrap:nth-child(4) .tier_content:first-child {
    background-color: #2a6c0d;
}

.lev_name {
    font-size: 2.5rem;
    margin-top: 0.4rem;
}

.tier_content img {
    height: 64px;
    width: 64px;
}



.item_container {
    margin-bottom: 3rem;
}

.name_ac {
    background-color: #ff8000;
    display: inline-block;
    height: 24px;
    margin-right: 0.5rem;
    transform: translateY(2px);
    width: 5px;
}

.item_name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
    padding-top: 6rem;
}

.info_wrap {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.item_info {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.info_wrap img {
    background-color: #101010;
    border: 4px solid #808080;
    height: 120px;
    width: 120px;
}

.item_description a {
    color: #ff8000;
    text-decoration: none;
    text-shadow: 0 0 1rem #ff800040;
}

.item_description a:hover {
    color: #1458ca;
    text-shadow: 0 0 1rem #1458ca40;
}