@charset "utf-8";

.text_en {
    line-height: 1;
}

.content_container {
    padding-top: 5rem;
}

.main_content {
    background-color: #000;
    border: none;
    padding: 1rem 2rem;
    width: 1280px;
}

/* level */

.level_container {
    border: 2px solid #1458ca;
    display: flex;
    gap: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    width: fit-content;
}

.level_wrap {
    box-sizing: content-box;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 4px;
    padding: 0.4rem 1rem;
    text-align: center;
    width: 12rem;
}

.level_button {
    background-color: transparent;
    border: 2px solid #1458ca;
    color: #808080;
    height: 49px;
    width: 49px;
}

.level_button:hover {
    background-color: #345495;
}

.refresh {
    height: 2rem;
}

.level_down {
    height: 2rem;
    transform: translateY(2px) rotate(180deg);
}

.level_up {
    height: 2rem;
    transform: translateY(-2px);
}

/* table */

.master_table {
    border: 3px solid #808080;
    border-collapse: collapse;
    width: 100%;
}

.master_table th, .master_table td {
    border: 1px solid #808080;
    padding: 0.2rem 0.5rem;
}

.h_level {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    width: 5%;
}

.h_enemies {
    width: 10%;
}

.h_ex_amount {
    width: 20%;
}

.h_ex_times {
    width: 10%;
}

.h_moon {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    width: 55%;
}

.level {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    text-align: end;
}

.enemies {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    text-align: center;
}

.ex_times {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    text-align: end;
}

.ex_amount {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(2px);
    text-align: center;
}



.moon_container {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.moon_image {
    height: 6rem;
}
.moon_name {
    color: #ff2020;
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 1rem #ff202040;
    transform: translateY(2px);
}
